/* www/styles.css */

/* Header */
.main-header {
  background-color: #000080 !important;
}
.main-header .logo {
  background-color: #000080 !important;
  color: white !important;
}
.main-header .navbar {
  background-color: #000080 !important;
}

/* Sidebar */
.main-sidebar {
  background-color: #000080 !important;
}
.main-sidebar .sidebar {
  color: white !important;
}
.main-sidebar .sidebar a {
  color: white !important;
}

/* Active menu item */
.main-sidebar .sidebar .active a {
  background-color: #000060 !important;
  color: white !important;
}
